* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div_header {
    display: flex;
    background-image: url(./istockphoto-184601291-612x612.jpg);
}

.div_header img {
    width: 120px;
    border-radius: 70% 30% 26% 74% / 46% 47% 53% 54%;
    height: 110px;
}

.div_header p {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.span_header_x {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    background: url('./OIP.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    
}

.span_header_y {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    background-image: url('./OIP.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

